*,*:before,*:after{
  box-sizing:inherit;
}

html {
  box-sizing:border-box;
  font-size: 16px;
}

body {
  background:#fff;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  color: #4f72ff;
  font-family: 'Times New Roman', 'Georgia', serif;
  font-weight: bold;
}

input[type="email"], input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
  font-size: 16px;
  padding: 0.5em;
  color: #4f72ff;
  border: solid 1px #4f72ff;
  margin-bottom: 1em;
  border-radius: 0;
}

input[type="email"] {
width: 100%;
}
input[type="text"]::placeholder {
  color: #4f72ff;
  opacity: 0.5;
}

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  background-color: #4f72ff;
  font-family: 'Times New Roman', 'Georgia', serif;
  font-weight: bold;
  border: solid 1px;
  padding: .5em;
  color: #fff;
  border-radius: 0;
}


.container {
  padding: 1.5rem;
  max-width: 768px;
}

h1 {
  font-size: 5.6rem;
  font-weight: bold;
  margin: 1.5rem 0;
  line-height: 1;
}

button {
  text-decoration: underline;
  font: inherit;
  background: transparent;
  border: none;
  color: inherit;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.1;
}

::-webkit-input-placeholder {
  color: #dce3ff;
}
::-moz-placeholder {
  color: #dce3ff;
}
:-ms-input-placeholder {
  color: #dce3ff;
}
:-moz-placeholder {
  color: #dce3ff;
}

form.disabled {
  opacity: .5;
}

a {
  color: #4f72ff;
}
