*,*:before,*:after{
  box-sizing:inherit;
}

html {
  box-sizing:border-box;
  font-size: 16px;
}

body {
  background:#fff;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #4f72ff;
  font-family: 'Times New Roman', 'Georgia', serif;
  font-weight: bold;
}

input[type="email"] {
  font: inherit;
}

.container {
  padding: 1.5rem;
  max-width: 768px;
}

h1 {
  font-size: 5.6rem;
  font-weight: bold;
  margin: 1.5rem 0;
}

button {
  text-decoration: underline;
  font: inherit;
  background: transparent;
  border: none;
  color: inherit;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.1;
}
